/*common  shared style */
body {
  font-family: "Open Sans", sans-serif;
}
.text-primary {
  color: #fd6e0a;
}
.btn-primary {
  border-radius: 5px;
  background: #fd6e0a;
  border: 0;
  color: white;
  font-weight: 700px;
  font-size: 15px;
  padding: 5px 10px;
}
.section-title {
  color: #181818;
  text-align: center;
  font-size: 35px;
  font-weight: 700;
}
.section-description {
  color: #757575;
  text-align: center;
  font-size: 18px;
  font-weight: 400;
}
/* nav related style */
nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0 120px;
}
.nav-title {
  color: #181818;
  font-family: Open Sans;
  font-size: 26px;
}
nav > ul {
  display: flex;
  align-items: center;
}
nav li {
  list-style: none;
  margin-right: 50px;
}
nav a {
  text-decoration: none;
  color: #474747;
}

/* header related style */
.header {
  background: #0d0804;
  background: url("../images/header_bg.png");
  background-size: 500px;
  background-repeat: no-repeat;
  background-position: bottom right;
}
.banner {
  padding: 30px 30px 0px 110px;
  display: flex;
  align-items: center;
}
.banner-content {
  max-width: 500px;
}
.banner .profile-picture {
  width: 500px;
  height: 400px;
}
.banner-greeting {
  font-size: 15px;
  color: #474747;
  margin-bottom: 0;
}
.banner-title {
  font-size: 35px;
  font-weight: 700;
  margin-top: 5px 0 20px 0;
}
.banner-description {
  margin-bottom: 30px;
  color: #757575;
}
/* main section styles */
/* about section styles */
.about {
  margin: 50px 0;
  padding: 50px;
  border-radius: 10px;
  background: #fff8f3;
}
main {
  max-width: 740px;
  margin: 0 auto;
}
.about-info-container {
  display: flex;
  justify-content: space-around;
}
.about-info {
  text-align: center;
}

/* what i do section styles*/
#what-i-do-description {
  padding: 30px 150px;
}

.skills-container {
  display: flex;
}
.skills {
  padding: 30px;
  gap: 24px;
  border-radius: 5px;
  background: #fff;
  box-shadow: 0px 6px 50px 0px rgba(0, 0, 0, 0.06);
}
.skill-description {
  color: #757575;

  font-size: 16px;
}
main section{
    margin-top: 130px ;
}
.resume-column-title{
color:  #474747;
font-size: 15px;
font-weight: 700;
margin-bottom: 10px;
}
.resume-container{
    display: flex;
    gap:50px;
    
}
.resume-item-inistitute{
    margin-bottom: 20px;
}
.resume-item-inistitute, .resume-item-description{
    color: #757575;
    font-size: 10px;
}
.download-cv{
    text-align: center;
}
/* footer style */
.footer-container{
    display: flex;
    background: #FFF8F3;
    padding: 20px 150px;
    margin-bottom: 100px;
    gap:100px;
}
.footer-column{
    width: 50%;
}
.contact input[type="text"],textarea{
   display: block;
   margin-bottom: 25px;
   padding: 10px 15px;
   color:  #757575;
   border-radius: 5px;
   background:#FFF;
   border: none;
   width: 100%;
}
.social-links a{
    margin-right: 10px;
}