/*common  shared style */
body {
  font-family: "Open Sans", sans-serif;
}
.text-primary {
  color: #fd6e0a;
}
.btn-primary {
  border-radius: 5px;
  background: #fd6e0a;
  border: 0;
  color: white;
  font-weight: 700px;
  font-size: 15px;
  padding: 5px 10px;
}
.section-title {
  color: #181818;
  text-align: center;
  font-size: 35px;
  font-weight: 700;
}
.section-description {
  color: #757575;
  text-align: center;
  font-size: 18px;
  font-weight: 400;
}
/* nav related style */
nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0 120px;
}
.nav-title {
  color: #181818;
  font-family: Open Sans;
  font-size: 26px;
}
nav > ul {
  display: flex;
  align-items: center;
}
nav li {
  list-style: none;
  margin-right: 50px;
}
nav a {
  text-decoration: none;
  color: #474747;
}

/* header related style */
.header {
  background: #0d0804;
  background: url("../images/header_bg.png");
  background-size: 500px;
  background-repeat: no-repeat;
  background-position: bottom right;
}
.banner {
  padding: 30px 30px 0px 110px;
  display: flex;
  align-items: center;
}
.banner-content {
  max-width: 500px;
}
.banner .profile-picture {
  width: 500px;
  height: 400px;
}
.banner-greeting {
  font-size: 15px;
  color: #474747;
  margin-bottom: 0;
}
.banner-title {
  font-size: 35px;
  font-weight: 700;
  margin-top: 5px 0 20px 0;
}
.banner-description {
  margin-bottom: 30px;
  color: #757575;
}
/* main section styles */
/* about section styles */
.about {
   margin: 50px 0;
  padding: 50px;
  border-radius: 10px;
  background: #fff8f3;
}
main{
    max-width: 740px;
    margin: 0 auto;
}
.about-info-container{
    display: flex;
    justify-content: space-around;
}
.about-info{
    text-align: center;
}